apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    basicAuth: false
    editable: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      cacheLevel: 'High'
      disableMetricsLookup: false
      incrementalQueryOverlapWindow: 10m
      queryTimeout: 60s
      timeInterval: 5s
    secureJsonData: {}

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: trading_postgres:5432
    database: trading_db
    user: postgres
    basicAuth: false
    isDefault: false
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: true
    secureJsonData:
      password: postgres

  - name: Redis
    type: redis-datasource
    access: proxy
    url: redis://trading_redis:6379
    isDefault: false
    jsonData:
      client: standalone
      poolSize: 5
      timeout: 10
      pingInterval: 0
      pipelineWindow: 0 